$slider-height: 45px;
$slider-width: 250px;
$space-between: 25px;

.subpage{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.slide-container {
    position: relative;
    top: calc(50vh - ( (#{$slider-height} + #{$space-between}) * 3) / 2);
    left: calc(50% - (#{$slider-width} / 2));
    width: $slider-width;

    input {
        display: block;
        width: 100%;
        border: 0;
    }

    .slider {
        -webkit-appearance: none;
        appearance: none;
        height: $slider-height;
        background-color: rgba($color: #000, $alpha: 0.3);
        outline: none;
        transition: 0.3s;

        margin-bottom: $space-between;
        border-radius: $slider-height;
    }
  
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: $slider-height;
        height: $slider-height;
        cursor: pointer;
        border-radius: $slider-height;
    }
  
    .slider::-moz-range-thumb {
        width: $slider-height;
        height: $slider-height; 
        cursor: pointer;
    }

    .slider_white {
        background-color: rgba($color: #fff, $alpha: 0.3);
    }

    .slider_white::-webkit-slider-thumb {
        background: #fff;
    }
    
    .slider_white::-moz-range-thumb {
        background: #fff; 
    }

    .slider_black {
        background-color: rgba($color: #000, $alpha: 0.3);
    }

    .slider_black::-webkit-slider-thumb {
        background: #000; 
    }

    .slider_white::-moz-range-thumb {
        background: #000; 
    }
}

#hex-input {
    position: absolute;
    width: 200px;
    left: 20px;
    bottom: 10px;
    padding: 0;
    font-size: 40px;
    font-family: 'Overpass', sans-serif;
    background-color: transparent;

    transition: 0.3s;
}

#hex-input:focus {
    outline: none;
}

.slider_black {
    color: #000;
}

.slider_white {
    color: #fff;
}